/*---------- footer -------------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30 px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fab{
    font-size: 24px;
    color: #62aefa;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}